spring.datasource.url={your_url}
spring.datasource.username={your_userName}
spring.datasource.password={your_password}
spring.datasource.driver-class-name=org.postgresql.Driver

JWT_SECRET={supersecretkey}
JWT_ACCESS_TOKEN_VALIDITY_SECONDS={setvalidity} --900
JWT_REFRESH_TOKEN_VALIDITY_SECONDS={setvalidity}  --604800

